*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    height: 30px
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.nav-link{
color: white;
font-size: 1.5rem;
}
.text-selected{
    color: black;
}
.text-upcoming{
    text-align: center;
}
.navbar-toggler{
 border-color: white;
}
.navbar-toggler-icon{
    color: white;
}
main{
    min-height: 82.3vh;
}
header,footer{
    background-color:#00b2b4;
}
footer{
    min-height: 10vh;
}
.cuerpo{
    min-height: 60vh;
}
.form-control{
    width:70vw;
}
.caja-busqueda{
    padding-left: 2rem;
    width: 30vw;
    margin-right: 10px;
}
.texto-piepagina{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    margin-right: 1rem;
}
.iconos-redes a{
    min-width: 6vh;
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 10px;
    border-radius: 50%;
    transition: all 2s ease-in;
}
.sinResultados{
    min-height: 477.5px;
}
.iconos-redes img{
    height: 5vh;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.iconos-redes a:hover{
    background-color: white;
    border: 3px solid #3d5488;
}
.carousel-caption{
    top: 0;
}
.imagen-carrusel{
    height: 20vh;
    width: 100vw;
    object-fit: cover;
    object-position: 90% 62%;
}
body{
    background-color: #3d5488;
}
.cards{
    display: flex;
    flex-wrap:wrap;
}
.card{
    width:30%;
    min-height: 100%;
    justify-content: space-between;
}
.card-body button a, label{
    text-decoration: none;
    color: white;
}
.img-card{
    display: flex;
    width: 90%;
    height: 20vh;
    margin-top: 1rem;
    border-radius: 10px;
}
.sombreado{
    border-radius: 15px;
    text-shadow: tomato 2px 5px;
}
.btn{
    height: 38px;
    box-shadow: 4px 4px 0px 0px #88cff1;
}
.btn:hover{
    background-color: #198754;
}
.body-bottom{
    max-height: 70px;
}
.card-body p{
    margin-bottom: 0;
}
#name, #inputEmail, #textarea{
    max-width:580px;
}
.btn-contact{
    width: 86%;
}
form{
    width: 80%!important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width:600px;
}
.cont-tabla, .cont-formulario{
    min-height:62.3vh;
}
table{
    width: 70%!important;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: #00fcfa dotted 3px;
}
th,td{
    padding: 0.8rem!important;
    border-radius: 3px!important;
    width: 33.3%;
}
.tabla-tit-principal{
    background-color: #00fcfa!important;
}
.cuerpo-detalles{
   background-color: #00fcfa;
   height: 100%;
   width: 80%;
   border-radius: 10px;
}
.tarjeta-detalles{
    width:70%;
    min-width: 42%;
    max-height: 100%;
    margin: 1rem;
}
.imagen-detalles{
    max-height: 364.59px;
}
span{
    font-weight: bolder;
}
textarea{resize: none;}
.main-details{
    min-height: 79.2vh;
}
@media screen and (min-width:320px) and (max-width:374px){
    .pie-pagina{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-title, .card-text, p{
        font-size:smaller;
    }
    .texto-piepagina, .nav-link{
        font-size: medium;
    }
    a{
        font-size: smaller;
    }
    label{
        font-size: smaller;
    }
    .form-control{
        font-size: smaller;
    }
    .card{
        width:80vw;
        min-height: 40vh;
    }
    .cuerpo-detalles{
        max-width: 280px;
     }
     .imagen-detalles{
        min-height:200px;
     }
}
@media screen and (min-width:375px) and (max-width:767px) {
    .card{
        width:80vw;
        max-width: 330px;
        min-height: 50vh;
    }
    .imagen-detalles{
        min-height:200px;
     }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .btn-contact{
        width: 90%;
    }
    .card{
        width:40vw;
        min-height: 50vh;
        max-width:330px;
    }
    .cuerpo-detalles{
        width:80vw;
        max-width: 614px;
     }
     .imagen-detalles{
        min-height:200px;
     }
}
@media screen and (min-width:1024px){
    .card-title, .card-text,p, a,label{
        font-size:large;
    }
    .form-control{
        font-size: large;
    }
    .form-check-input{
        height: 20px;
        width: 20px;
        margin-right: 4px;
    }
    .lupa{
        height: 42px;
    }
    main{
        min-height: 82.6vh;
    }
    .cuerpo{
        min-height: 50vh;
    }
    .btn-contact{
        width: 96%;
    }
    .card{
        width: 20vw;
        min-width: 330px;
        min-height: 50vh;
    }
    .body-bottom{
        height: 110px;
    }
    .btn-details{
        height: 40px;
    }
    .lupa{
        height: 50px;
    }
    .cuerpo-detalles{
        width:80vw;
        max-width: 730px;
     }
     .imagen-detalles{
        min-height:200px;
     }
}
@media screen and (min-width:375px){
    .pie-pagina{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:595px) {
    .cuerpo-detalles{
        flex-wrap: wrap;
     }
}
@media screen and (max-width: 767px) {
    .navbar-brand{
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }
    table{
        font-size: small;
    }
    .cont-tabla{
        min-height:63.8vh;
    }
    main{
        min-height: 83.8vh;
    }
    .texto-piepagina, .nav-link{
        font-size: medium;
    }
}
@media screen and (min-width:575px) and (max-width:858px){
    .cuerpo-parte-superior{
        justify-content: center!important;
    }
}
@media screen and (min-width:2000px){
    .text-xx-large{
        font-size: xx-large;
    }
}
